@use '../variables.css';

.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  max-height: 90%;
  max-width: 900px;
  margin: 0 1rem;
  padding: 0;
  border: 1px solid  var(--bdr-color);
  border-radius: 0.25rem;
  background: var(--bg-primary);
  ul {
    padding-left: 2rem;
    list-style: inside;
    font-size: calc(var(--body-font-size) * 1.15);
  }
}
.modal__title {
  margin: 0 2rem 0 0;
  font-size: 1.5rem;
  font-weight: 700;
}
.modal__content {
  flex-grow: 1;
  overflow-y: auto;
  padding: var(--pad);
  font-size: var(--body-font-size);
}
.modal__action {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  padding: 1rem 0 0;
}
.modal__close {
  position: absolute;
  cursor: pointer;
  top: 0.5rem;
  right: 0.5rem;
}