@use '../variables.css';

.grid {
  width: 100%;
  display: grid;
  gap: var(--pad);
  &.legal {
    grid-template-columns: minmax(480px, 1fr);
    max-width: var(--max-width);
  }
  &.col1 {
    grid-template-columns: minmax(var(--min-grid-width), 1fr);
  }
  &.col2 {
    grid-template-columns: repeat(2, minmax(var(--min-grid-width), 1fr));
  }
  &.col3 {
    grid-template-columns: repeat(3, minmax(var(--min-grid-width), 1fr));
  }
  &.col4 {
    grid-template-columns: repeat(4, minmax(var(--min-grid-width), 1fr));
  }
  &.col-fill {
    // max
    grid-template-columns: repeat(auto-fill, minmax(var(--min-grid-width), 1fr));
  }
  &.col-fit {
    // max
    grid-template-columns: repeat(auto-fir, minmax(var(--min-grid-width), 1fr));
  }
  &.row1 {
    grid-template-rows: minmax(auto, 1fr);
  }
  &.row2 {
    grid-template-rows: repeat(2, minmax(auto, 1fr));
  }
  &.row3 {
    grid-template-rows: repeat(3, auto);
  }
  &.row-fill {
    // max
    grid-template-rows: repeat(auto-fill, minmax(auto, 1fr));
  }
  &.gap1 {
    gap: var(--gap);
  }
  
  &.gap2 {
    gap: calc(var(--gap) * 2);
  }
  
  &.gap3 {
    gap: calc(var(--gap) * 3);
  }
  
  &.gap4 {
    gap: calc(var(--gap) * 4);
  }
}