.m0 {
  margin: 0;
}

.m1 {
  margin: var(--pad);
}

.m2 {
  margin: calc(var(--pad) * 2);
}

.m3 {
  margin: calc(var(--pad) * 3);
}

.m4 {
  margin: calc(var(--pad) * 4);
}


.mt1 {
  margin-top: var(--pad);
}

.mt2 {
  margin-top: calc(var(--pad) * 2);
}

.mt3 {
  margin-top: calc(var(--pad) * 3);
}

.mt4 {
  margin-top: calc(var(--pad) * 4);
}

.mt5 {
  margin-top: calc(var(--pad) * 5);
}

.mt6 {
  margin-top: calc(var(--pad) * 6);
}

.mr1 {
  margin-right: var(--pad);
}

.mr2 {
  margin-right: calc(var(--pad) * 2);
}

.mr3 {
  margin-right: calc(var(--pad) * 3);
}

.mr4 {
  margin-right: calc(var(--pad) * 4);
}

.mb1 {
  margin-bottom: var(--pad);
}

.mb2 {
  margin-bottom: calc(var(--pad) * 2);
}

.mb3 {
  margin-bottom: calc(var(--pad) * 3);
}

.mb4 {
  margin-bottom: calc(var(--pad) * 4);
}


.ml1 {
  margin-left: var(--pad);
}

.ml2 {
  margin-left: calc(var(--pad) * 2);
}

.ml3 {
  margin-left: calc(var(--pad) * 3);
}

.ml4 {
  margin-left: calc(var(--pad) * 4);
}
